<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div class="container-fluid py-4">
        <div class="mb-3">
            <label for="nom" class="form-label">Chercher un produit</label>
            <input type="text" class="form-control" id="nom" placeholder="Entrer le nom du produit">
        </div>
        <div>
            <button class="btn btn-primary">contactez-nous</button>
        </div>
    </div>

</head>

<body>

</body>

</html>