<div class="container-fluid py-4">
    <nav class="navbar bg-primary px-3">
        <div class="col-md-4 ">
            <a routerLink="produits/ajouter" class="btn btn-success mb-2">
                <i class="bi bi-plus-lg"></i> Ajouter un produit
            </a>
        </div>
        <a class="navbar-brand text-white fw-bold" routerLink="/">
            Gestion Produits
        </a>
        <div class="d-flex align-items-center gap-2">
            <a class="btn btn-outline-light" routerLink="/accueil">
                Accueil
            </a>
            <a class="btn btn-outline-light" routerLink="/contact">
                Contact
            </a>
            <input type="text" class="form-control" placeholder="Rechercher...">
            <button class="btn btn-warning">
                Recherche
            </button>
        </div>
    </nav>
</div>
<div class="table-responsive">
    <table class="table table-bordered mb-0 table-hover">
        <thead class="table-dark">
            <tr style="text-align: center;">

                <th>ID</th>
                <th>Nom du produit</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Actif</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
      <tbody style="text-align:center">

      @for (produit of produitService._produits(); track produit.id) {

      <tr>
        <td>{{ produit.id }}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.prix }}</td>
        <td>{{ produit.stock }}</td>
        <td>{{ produit.actif }}</td>
        <td>{{ produit.categorie }}</td>
        <td>{{ produit.description }}</td>
        <td class="d-flex gap-2" >
          <button type="button" class="btn btn-danger" (click)="handleDelete(produit)">
            <i class="bi bi-trash"></i>
          </button>



          <button type="button" class="btn btn-info" (click)="handleDetails(produit)">
                    <i class="bi bi-eye"></i>
          </button>
          <button type="button" class="btn btn-warning" (click)="handleModifier(produit)">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
      </tr>

      }

      </tbody>
    </table>
</div>
<div class="col mb-3">
    <p>nombre total de produit = <span class="badge bg-primary ms-2">{{produitService._produits().length}}</span> </p>
</div>
